@use "../abstracts/variables" as *;

.form {
  width: 100%;

  .input {
    margin-bottom: $size-4;

    label {
      display: block;
    }

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
    }
  }

  .inline-input {
    margin-bottom: $size-4;
    display: flex;
    align-items: center;

    label {
      margin-left: 0.5rem;
    }
  }
}
