@use "../abstracts/variables" as *;

.table {
  border-collapse: collapse;
  border: thin solid $color-grey-400;
  width: 100%;

  td, th {
    padding: $size-2 $size-4;
    border: thin solid $color-grey-300;
  }

  th {
    text-align: left;
    background-color: $color-grey-200;
  }
}
