@use "../abstracts/variables" as *;

body {
  font-family: $font-primary;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: 900;
}

h1 {
  font-size: $text-4xl;
}

h2 {
  font-size: $text-3xl;
}

h3 {
  font-size: $text-2xl;
}

h4 {
  font-size: $text-xl;
}

h5 {
  font-size: $text-lg;
}

h6 {
  font-size: $text-md;
  margin: $size-4 0;
}
