@use "../abstracts/variables" as *;

@mixin screen-medium {
  @media screen and (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin screen-large {
  @media screen and (min-width: $breakpoint-large) {
    @content;
  }
}
