// Colors
$color-primary: #60a5fa;
$color-primary-dark: #2563eb;
$color-secondary: #fb923c;
$color-secondary-dark: #ea580c;
$color-accent: #c084fc;

$color-white: #FFFFFF;
$color-grey-200: #E5E5E5;
$color-grey-300: #D4D4D4;
$color-grey-400: #A3A3A3;
$color-grey-400: #737373;
$color-black: #333333;

$color-danger: #dc2626;
$color-warning: #facc15;
$color-success: #16a34a;

// Font Families
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Heebo', sans-serif;

// Breakpoints
$breakpoint-medium: 48em;
$breakpoint-large: 64em;
$max-width: 75em;

// Font Sizes
$text-2xs: 0.422rem;
$text-xs: 0.563rem;
$text-sm: 0.75rem;
$text-md: 1rem;
$text-lg: 1.333rem;
$text-xl: 1.777rem;
$text-2xl: 2.369rem;
$text-3xl: 3.157rem;
$text-4xl: 4.209rem;

// Layout Sizes
$size-1: 0.25rem; // 4
$size-2: 0.5rem; // 8
$size-3: 0.75rem; // 12
$size-4: 1rem; // 16
$size-5: 1.5rem; // 24
$size-6: 2rem; // 32
$size-7: 3rem; // 48
$size-8: 4rem; // 64
$size-9: 6rem; // 96
$size-10: 8rem; // 128
