<div class="modal">
  <div class="close-container">
    <button class="close" type="button" (click)="closeModal()">
      <i></i>
      <i></i>
    </button>
  </div>
  <ng-content></ng-content>
</div>
