.modal {
  position: fixed;
  width: 80%;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0%);
  border: thin solid #333333;
  padding: 2rem;
  background: white;

  .close-container {
    text-align: right;
    padding-bottom: 2rem;
  }

  .close {
    border: none;
    cursor: pointer;

    i {
      height: 0.25rem;
      background-color: black;
      display: block;
      width: 1.5rem;

      &:first-child {
        transform: rotate(
            45deg
        );
      }

      &:last-child {
        margin-top: -4px;
        transform: rotate(
            -45deg
        );
      }
    }
  }
}
