<app-page-table-layout pageTitle="Media manager">
  <button type="button" class="button primary-outlined mb-2" (click)="toggleModal()">Upload a medium</button>
  <div class="row grid">
    <div class="col medium-2" *ngFor="let medium of (mediaPage$ | async)">
      <div class="media-grid-item">
        <img src="http://upload.bubblemind.local/{{medium.uri}}" alt="#" (click)="selectMedium(medium)">
      </div>
    </div>
  </div>
</app-page-table-layout>

<ng-container *ngIf="modalOpened">
  <app-modal (closeModalEvent)="closeModal()">
    <app-media-upload (closeUploadEvent)="uploadSuccessfull()"></app-media-upload>
  </app-modal>
</ng-container>

<ng-container *ngIf="showDetailsModal">
  <app-modal (closeModalEvent)="switchDetailsModal()">
    <app-media-details [medium]="selectedMedium" (closeDetailsEvent)="switchDetailsModal()"></app-media-details>
  </app-modal>
</ng-container>
