.media-grid-item {
  height: 0;
  padding-top: 100%;
  position: relative;

  img {
    position: absolute;
    object-fit: cover;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
}
