<aside class="sidebar">
  <div class="sidebar-brand">
    <h4 class="text-center">Bubble Mind</h4>
  </div>
  <ul class="sidebar-nav">
    <li><h6>Administration</h6></li>
    <li><a href="#" routerLink="/admin/users">Users</a></li>
    <li><a href="#" routerLink="/admin/websites">Websites</a></li>
    <ng-container *ngIf="slug">
      <li><h6>Website</h6></li>
      <li><a href="#" [routerLink]="['/website', slug, 'users']">Users</a></li>
      <li><a href="#" [routerLink]="['/website', slug, 'media']">Media</a></li>
      <li><a href="#" [routerLink]="['/website', slug, 'pages']">Pages</a></li>
      <li><a href="#" [routerLink]="['/website', slug, 'templates']">Templates</a></li>
    </ng-container>
    <li><h6>Entities</h6></li>
    <li><a href="#" routerLink="/">Testimonials</a></li>
    <li><a href="#" routerLink="/">Team Members</a></li>
  </ul>
</aside>
