<app-page-table-layout pageTitle="Select a website">
  <a class="button primary-outlined mb-2" href="#">New Website</a>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="#" routerLink="/website/saphirdesign">Saphir Design</a></td>
      <td>/public/saphirdesign</td>
    </tr>
    </tbody>
  </table>
</app-page-table-layout>
