<section class="main-section">
  <div class="container">
    <h1 class="mt-0">Template list</h1>
    <a class="button primary-outlined mb-2" href="#">Add a section</a>
    <div class="template-sections">
      <div class="template-section">
        <button class="template-container" type="button">
          <p>Container 1234</p>
          <p>Navbar</p>
        </button>
      </div>
      <div class="template-section">
        <button class="template-container template-container-1/3" type="button">
          <p>Container 1234</p>
          <p>Navbar</p>
        </button>
        <button class="template-container template-container-1/3" type="button">
          <p>Container 1234</p>
          <p>Navbar</p>
        </button>
        <button class="template-container template-container-1/3" type="button">
          <p>Container 1234</p>
          <p>Navbar</p>
        </button>
      </div>
      <div class="template-section">
        <button class="template-container" type="button">
          <p>Container 1234</p>
          <p>Posts</p>
        </button>
      </div>
    </div>
  </div>
</section>
