<div>
  <div class="row">
    <div class="col medium-6 flex align-center">
      <img src="http://upload.bubblemind.local/{{medium?.uri}}" alt="">
    </div>
    <div class="col medium-6">
      <form class="form" [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
        <div class="input">
          <label for="mimetype">Mimetype</label>
          <input type="text" name="mimetype" id="mimetype" disabled value="{{medium?.mimetype}}">
        </div>
        <div class="input">
          <label for="description">Description</label>
          <textarea name="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="flex justify-end gap-4">
        <button class="button primary-outlined" type="button" (click)="editMedium()">Edit</button>
        <button class="button danger-outlined" type="button" (click)="deleteMedium()">Delete</button>
      </div>
    </div>
  </div>
</div>
