@use "../abstracts/variables" as *;

.button {
  padding: $size-2 $size-7;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;

  &.primary {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &.primary-outlined {
    border: 2px solid $color-primary;
    color: $color-primary;
    transition: all 150ms ease-out;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &.danger-outlined {
    border: 2px solid $color-danger;
    color: $color-danger;
    transition: all 150ms ease-out;

    &:hover {
      background-color: $color-danger;
      color: $color-white;
    }
  }
}

.button-group {
  display: flex;
  align-items: center;

  &.justify-end {
    justify-content: flex-end;
  }

  > * {
    margin-left: $size-2;
    margin-right: $size-2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
