@use "../abstracts/variables" as *;

.flex {
  display: flex;

  &.justify-end {
    justify-content: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  &.gap-4 {
    > * {
      margin-left: $size-4;
      margin-right: $size-4;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
