@use "../abstracts/variables" as *;

// X axis
.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: $size-1;
  padding-right: $size-1;
}

.px-2 {
  padding-left: $size-2;
  padding-right: $size-2;
}

.px-3 {
  padding-left: $size-3;
  padding-right: $size-3;
}

.px-4 {
  padding-left: $size-4;
  padding-right: $size-4;
}

.px-5 {
  padding-left: $size-5;
  padding-right: $size-5;
}

.px-6 {
  padding-left: $size-6;
  padding-right: $size-6;
}

// Y axis
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: $size-1;
  padding-bottom: $size-1;
}

.py-2 {
  padding-top: $size-2;
  padding-bottom: $size-2;
}

.py-3 {
  padding-top: $size-3;
  padding-bottom: $size-3;
}

.py-4 {
  padding-top: $size-4;
  padding-bottom: $size-4;
}

.py-5 {
  padding-top: $size-5;
  padding-bottom: $size-5;
}

.py-6 {
  padding-top: $size-6;
  padding-bottom: $size-6;
}

.py-7 {
  padding-top: $size-7;
  padding-bottom: $size-7;
}

.py-8 {
  padding-top: $size-8;
  padding-bottom: $size-8;
}

.py-9 {
  padding-top: $size-9;
  padding-bottom: $size-9;
}

.py-10 {
  padding-top: $size-10;
  padding-bottom: $size-10;
}
