@use "../abstracts/variables" as *;

.main-section {
  margin: $size-10 0;
}

.small-section {
  margin: $size-4 0;
}

.medium-section {
  margin: $size-6 0;
}

.large-section {
  margin: $size-9 0;
}
