<app-page-table-layout pageTitle="Select a page">
  <a class="button primary-outlined mb-2" href="#" [routerLink]="['/website', 'saphirdesign', 'pages', 'create']">New Page</a>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Template</th>
      <th>Slug</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Home</td>
      <td>Main Template</td>
      <td>/</td>
    </tr>
    </tbody>
  </table>
</app-page-table-layout>
