<app-page-table-layout pageTitle="Select a user">
  <a class="button primary-outlined mb-2" href="#">New User</a>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Alexandre St-Laurent</td>
      <td>alexandre@gmail.io</td>
      <td>ADMIN</td>
    </tr>
    </tbody>
  </table>
</app-page-table-layout>
